.vscode/*
.vs/*
.idea/*
global.json
*.user
src/Jiguang.JPush.Extensions/bin/*
src/Jiguang.JPush.Extensions/obj/*
test/Jiguang.JPush.Extensions.Tests/bin/*
test/Jiguang.JPush.Extensions.Tests/obj/*
example/Example.Aspnetcore20/bin/*
example/Example.Aspnetcore20/obj/*
nupkg/*